
@media(min-width:1200){
  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--skin-color);
    border-radius: 8rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
@media (max-width:1199px) 
{
  .section .container
  {
    padding-top: 70px;
  }
  .aside
  {
    left: -270px;
  } 
  .aside.open
  {
    left: 0;
  } 
  .aside .nav-toggler
  {
    display: flex;
    left: 30px;
  }
  .aside .nav-toggler.open
  {
    left: 300px;
  }
  .section
  {
    left: 0;
  }
  .section.open
  {
    left: 270px;
  }
  .about .about-content .personal-info .info-item p span
  {
    display: block;
    margin-left: 0;
  }

}

@media (max-width:991px) 
{
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home
    {
      padding-bottom: 100px;
    }
    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img
    {
        /* display: none; */
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 100px;
    }
    .home-img::after
    {
      right: 20%;
    }
    .home-img::before
    {
      left: 20%;
    }
    
}

@media (max-width:767px) 
{
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
}

@media (max-width:767px) 
{
.home-img::after
    {
      right: 10%;
    }
    .home-img::before
    {
      left: 10%;
    }
}






